// main: style.less

@white: #fff;
@blue: #006cff;
@light-gray: #909090;
@dark-gray: #4a4a4a;

.font-ralsemibold() {
    font-family: 'Raleway SemiBold', sans-serif;
}

.font-ralextrabold() {
    font-family: 'Raleway ExtraBold', sans-serif;
}

.font-ralmedium() {
    font-family: 'Raleway Medium', sans-serif;
}

.font-ralblack() {
    font-family: 'Raleway Black', sans-serif;
}

.font-helvetica() {
    font-family: 'Helvetica Regular', sans-serif;
}

.font-myriad() {
    font-family: 'Myriad Pro Regular', sans-serif;
}
