//  main: ../style.less



.header {
    background: #000 url('../images/main-bg.jpg') no-repeat center top;
    background-size: cover;
    padding-top: 30px;
    position: relative;
    min-height: 750px;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(20, 39, 41, .75);
    }


    .nav__link {
        color: @white;
        // .font-ralsemibold;
        font-size: 18px;
        font-weight: 600;
        line-height: 19px;
        text-decoration: none;
        position: relative;

        &:after {
            content: '';
            width: 0;
            height: 2px;
            background-color: @white;
            position: absolute;
            bottom: -16px;
            left: 0;
            z-index: 1;
            transition: all .3s ease-in-out;

        }

        &:hover {
            color: lighten(@blue, 5%);

            &:after {
                width: 100%;
            }
        }


    }

    // .modal-btn {
    //     background: none;
    //     outline: none;
    //     border: none;
    //     color: @white;
    //     // .font-ralsemibold;
    //     font-size: 18px;
    //     font-weight: 600;
    //     line-height: 19px;
    //     text-decoration: none;
    //     position: relative;
    //     cursor: pointer;
    //     padding: 20px;
    //     border-radius: 25px;
    //     transition: all .2s linear;

    //     &:hover {
    //         background: rgb(29, 135, 255);
            
    //     }

    // }

    @media (max-width: @screen-sm-max) {
        .logo {
            display: block;
            text-align: center;
        }

        .nav {
            padding-top: 90px;

            &__link {
                font-size: 22px;
            }
        }

    }

    @media (max-width: @screen-xs-max) {
        padding-bottom: 30px;
    }

    @media (max-width: @screen-sm-max) {
        .intro {
            text-align: center;

            &__text {
                margin: 0 auto;
                margin-top: 40px;
            }

            &-more {
                margin-top: 50px;
            }
        }
    }

    @media (max-width: @screen-sm-max) {
        .intro-more {
            margin-bottom: 30px;
        }
    }

    @media(max-width:@screen-sm-max) {
        .nav {
            display: flex;
            transition: 0.2s;
            transform: scaleX(0) translateX(0%);
            transform-origin: right center;
            opacity: 0;
            visibility: hidden;
            height: 50px;
            line-height: 50px;
            padding-right: 25px;
            padding-left: 25px;
            margin-right: -25px;

            padding-top: 25px;

            &__link {
                text-decoration: none;
                display: inline-block;
                margin-right: 0px;
                transition: 1s;
                cursor: pointer;
            }
        }

        .menu-btn {
            display: inline-block;
            // float: right;

            margin: 0 auto;
            width: 50px;
            height: 50px;
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: -70%;
            right: 0;
        }

        .menu-btn span,
        .menu-btn span::before,
        .menu-btn span::after {
            position: absolute;
            top: 50%;
            margin-top: -1px;
            left: 50%;
            margin-left: -10px;
            width: 20px;
            height: 2px;
            background-color: #222;
        }

        .menu-btn span::before,
        .menu-btn span::after {
            content: '';
            display: block;
            transition: 0.2s;
        }

        .menu-btn span::before {
            transform: translateY(-5px);
        }

        .menu-btn span::after {
            transform: translateY(5px);
        }

        .menu-btn_active span:before {
            transform: rotate(-35deg);
            width: 10px;
            transform-origin: left bottom;
        }

        .menu-btn_active span:after {
            transform: rotate(35deg);
            width: 10px;
            transform-origin: left top;
        }

        .nav_active {
            transform: scaleX(1) translateX(0%);
            opacity: 1;
            visibility: visible;
        }

    }


}


.menu-btn {
    display: none;
}