// main: ../style.less

.reviews {
   background-color: #d1ffff;
   padding-bottom: 20px;
}


.slider-wrapper {

   &__about {
      color: @dark-gray;
      .font-ralregular;
      font-size: 18px;
      font-weight:100;
      line-height: 34px;
      padding-top: 120px;
      padding-bottom: 100px;
      cursor: pointer;
   }

   &__author {
      color: @dark-gray;
      .font-ralregular;
      font-size: 15px;
      font-weight: 400;
      line-height: 32px;
      padding-top: 30px;

      span {
         font-size: 20px;
         .font-ralextrabold;
         font-weight: 700;
      }
   }
}


